@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-image: url(img/backO.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section#game {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#soldier {
  vertical-align: text-top;
  height: 500px;
  width: 334px;
  float: left;
}

section#speechBubble {
  background-color: white;
  padding: 20px;
  padding-bottom: 10px;
}

footer {
  flex: 0 1 auto;
  width: 100%;
  font-size: 25px;
}

@media only screen and (min-width: 500px) {
  footer {
    font-size: 12px;
  }
}

.bubble {
  margin-left: 15vw;
  color: black;
  background: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  width: 60vw;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.button{
  border-radius: 20px;
  width: 30vw;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background-color: limegreen;  float: left;
  margin-left: 0vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
  border: 1px solid black;
  text-align: center;
}
