body {
  background-image: url(img/backO.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section#game {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#soldier {
  vertical-align: text-top;
  height: 500px;
  width: 334px;
  float: left;
}

section#speechBubble {
  background-color: white;
  padding: 20px;
  padding-bottom: 10px;
}

footer {
  flex: 0 1 auto;
  width: 100%;
  font-size: 25px;
}

@media only screen and (min-width: 500px) {
  footer {
    font-size: 12px;
  }
}

.bubble {
  margin-left: 20vw;
  color: black;
  background: white;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 50px;
  height:185px;
  width: 60vw;
}

.bubble::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 0;
  border-color: white transparent transparent transparent;
  position: absolute;
  margin-top: 90px;
  margin-left: 20px;
}
